<h2 class="main-title">Hello!</h2>
<h4 class="main-subtitle">Glad to see you in our video courses shop.</h4>

<p class="main-text">You can only watch any of the available courses without registering, but you can register and
  buy them or add your own course and sell it in our store.</p>
<h5 class="main-good-luck">Good luck!</h5>